@import '../../styles/variables';

.search-box {
  max-width: 300px;
}

.fa-pencil-square-o {
  top: 24px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    color: $green-main;
  }
}

.card-container {
  min-height: calc(100vh - 270px);
  
  .card {
    min-height: 600px;

    &-header {
      min-height: 65px;
    }
  
    .disable-edit {
      pointer-events: none;
      color: $disable-edit-color;
      opacity: 0.6;
    }
  
    &-body {
      position: relative;
  
      p {
        max-height: 300px;
        overflow: auto;
      }
  
      .badge-container {
        bottom: 20px;
  
        .badge {
          background-color: $badge-color;
          max-width: 130px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 12px 16px;
        }
      }
    } 
  }
}

.spinner-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(132 132 132 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus {
  line-height: 1px;
} 

.btn:disabled {
  background-color: $disable-btn;
}
