@import 'src/app/styles/_variables.scss';

* {
  font-family:  Helvetica, sans-serif;
}

body {
  background-color: $background-color   !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $green-main; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $green-main; 
}